
body{
    text-align: center;
    background-color: darkslategray;
    background-image: url("download.jpg");
    background-size: cover;
    background-position: center;


}

#top{
    color: white;

}

.main{
    border: 3px dashed gray;
    vertical-align: middle;

}

.album{
    border: 2px solid red;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
    width: 65%;
    

}

.appearance{
    border: 2px solid green;

}



p{
    display: inline-block;
    width: 74%;
    vertical-align: middle;
}


img{
    width: 25%;
    vertical-align: middle;
}