canvas
{
    z-index: 0;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto ;
    border: 5px solid green;    

}

div{
    background-color: none;
}

body{
    background-color:clear;
    background:url("../../rsource/blackhole.jpg"); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color:white;
   
}